.Frame{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 93%;
  align-items: center;
  justify-content: center;
}
.form{
  background-color: azure;
  height: 50%;
  width:60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
input{
  width: 170px;
  height: 20px;
  font-size: large;
  padding: 2px 5px;
}
select{
  font-size: .9rem;
  padding: 2px 5px;
}
label{
  font-weight: bold;
}
textarea{
  width: 170px;
  height: 50px;
  padding: 2px 5px;
}
.submitButton{
  width: 100px;
  height: 8%;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 5px;
  font-family: 'Courier New', Courier, monospace;
}