.Body{
  display: flex;
  height: 95%;
  width: 100%;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
}
.Frame{
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 95%;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
}
.RightSide{
  display: flex;
  width: 30%;
  margin-left: 20pt;
  background-color: cadetblue;
  height: 95%;
}