.Body{
  display: flex;
  height: 95%;
  width: 100%;
  /* background-color: aliceblue; */
  background-color: cadetblue;
  align-items: center;
  justify-content: center;
}
.Frame{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 93%;
  align-items: center;
  justify-content: space-between;
  background-color: palegoldenrod;
}
.RightSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-left: 20pt;
  height: 100%;
  /* background-color: paleturquoise; */
}